<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>td.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.pocketsoap.trapdoor</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.3</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUCheckAtStartup</key>
	<false/>
	<key>SUFeedURL</key>
	<string>http://www.pocketsoap.com/osx/trapdoor/trapdoor.xml</string>
	<key>ZKBrowsers</key>
	<dict>
		<key>Camino</key>
		<string>org.mozilla.camino</string>
		<key>Firefox</key>
		<string>org.mozilla.firefox</string>
		<key>OmniWeb</key>
		<string>com.omnigroup.OmniWeb5</string>
		<key>Safari</key>
		<string>com.apple.safari</string>
	</dict>
	<key>ZKHelpUrl</key>
	<string>http://www.pocketsoap.com/osx/trapdoor/help/</string>
</dict>
</plist>
